{% extends 'music/base.html' %}

{% block body %}

<div class="jumbotron">
  <div class="container">
    <h1><span class="glyphicon glyphicon-headphones" aria-hidden="true"></span> Accessories</h1>
    <p>Available accerssories to purchase</p>
    <hr>
  </div>
</div>

  <!-- LEFT PANEL -->
  <div class="row">
    <div class="col-sm-4 col-md-3">
    <div class="panel panel-default">
    <div class="panel-body">

      <h2>Satori Case</h2>
      <a href="">
          <img src="https://fu5zya-am3pap001.files.1drv.com/y4mzXHZ6ZNkoLuzmXnK0gnMPCOTWJlKMZYKgumGccMCz58Oeg5YvKB9HqFyksbUWJHURTAyNed-uxy6Bssghg4rGdprvWE3F523fd5wqgKBvd5pCzB5uZakNxo2qj4w192QxYGz3ItMMnYvdLRiDax5HlWZZBzh-DZbUfdhGJoGIX1U9vjZKpZ-aaB67d5mkuaPUkJACP7vjD5fSqgPa_k_nw?width=660&height=373&cropmode=none" class="img-responsive">
         </a>
         <h2>Price: 29 £</h2>
         <h2></h2>


  </div>
  </div>
  </div>
    <!-- RIGHT PANNEL -->
  <div class="col-sm-8 col-md-9">
  <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Details</div>
  <div class="panel-body">
      <p>
          Durable satori case/box for transportation purposes. Available in black or transparent colour.
      </p>
  </div>
  <!-- Table -->
  <table class="table">
      <tbody>

          <tr>
              <td>in stock</td>
          </tr>

      </tbody>
  </table>
</div>
 </div>
</div>

<div class="row">
  <div class="col-sm-4 col-md-3">
  <div class="panel panel-default">
  <div class="panel-body">

    <h2>Satori Soft Cable</h2>
    <a href="">
        <img src="https://fu5aya-am3pap001.files.1drv.com/y4m-OuwaaU9q9aoddpmBCBV1yE-ZblT8_tWfyv5kikBks6phOaXgCOOlV2rNZrEjNoi65Dsfwa5DUunigGwwZCnrE2Gn2t4RtGkS0eyN00J3KhANr1-5cgNs9nbyp1B43eVj2aD5Z3Xtc3rDWN-Em1WGnZxn1DlmBnOFAq_Uejd8oRrYuT8iwQc025xLhPsQf2sLgRa_IB8Q2ViU4-sc168qQ?width=660&height=371&cropmode=none" class="img-responsive">
       </a>
       <h2>Price: 35 £</h2>
       <h2></h2>


</div>
</div>
</div>
  <!-- RIGHT PANNEL -->
<div class="col-sm-8 col-md-9">
<div class="panel panel-default">
<!-- Default panel contents -->
<div class="panel-heading">Details</div>
<div class="panel-body">
    <p>
        Soft satori replacable cable for custom made and universal monitors.
    </p>
</div>
<!-- Table -->
<table class="table">
    <tbody>

        <tr>
            <td>in stock</td>
        </tr>

    </tbody>
</table>
</div>
</div>
</div>

<div class="row">
  <div class="col-sm-4 col-md-3">
  <div class="panel panel-default">
  <div class="panel-body">

    <h2>Satori Soft Cable with mic</h2>
    <a href="">
        <img src="https://fu5aya-am3pap001.files.1drv.com/y4m-OuwaaU9q9aoddpmBCBV1yE-ZblT8_tWfyv5kikBks6phOaXgCOOlV2rNZrEjNoi65Dsfwa5DUunigGwwZCnrE2Gn2t4RtGkS0eyN00J3KhANr1-5cgNs9nbyp1B43eVj2aD5Z3Xtc3rDWN-Em1WGnZxn1DlmBnOFAq_Uejd8oRrYuT8iwQc025xLhPsQf2sLgRa_IB8Q2ViU4-sc168qQ?width=660&height=371&cropmode=none" class="img-responsive">
       </a>
       <h2>Price: 39 £</h2>
       <h2></h2>


</div>
</div>
</div>
  <!-- RIGHT PANNEL -->
<div class="col-sm-8 col-md-9">
<div class="panel panel-default">
<!-- Default panel contents -->
<div class="panel-heading">Details</div>
<div class="panel-body">
    <p>
        Soft satori replacable cable with microphone for custom made and universal monitors.
    </p>
</div>
<!-- Table -->
<table class="table">
    <tbody>

        <tr>
            <td>in stock</td>
        </tr>

    </tbody>
</table>
</div>
</div>
</div>

</ul>



<hr>
<footer>
  <p>&copy; 2016 Company, Inc.</p>
</footer>

{% endblock %}
