{% extends 'music/base.html' %}

{% block body %}

<div class="jumbotron">
  <div class="container">
    <h1><span class="glyphicon glyphicon-headphones" aria-hidden="true"></span> Custom Made in-ear Monitors</h1>
    <p>Introducing our handcrafted monitors</p>
    <hr>
    <p1>
        All of our Custom Made Monitors come with one year warranty, durable Satori Box, Manual, Cleaning Set and 3,5 to 6,35mm Stereo Jack Plug Adaptor. All enclosed in elegant box, secured and safely shipped. Estimated turnround is 14 working days.
    </p1>
  </div>


</div>

  <!-- LEFT PANEL -->

  {% for album in all_albums %}
  <div class="row">
    <div class="col-sm-4 col-md-3">
    <div class="panel panel-default">
    <div class="panel-body">

      <h2>Model: {{ album.album_title }}</h2>
      <a href="{% url 'music:detail' album.id %}">
            {% if album.album_logo %}
                <img src="{{ album.album_logo }}" class="img-responsive">
             {% else %}
                 <h3>No image to display</h3>
             {% endif %}
         </a>
         <h2>Drivers: {{ album.genere }}</h2>
         <h2>Price from: {{ album.price }} £</h2>
         <h2></h2>
         <a class="btn btn-primary" href="{% url 'music:detail' album.id %}" role="button">available versions &raquo;</a>


  </div>
  </div>
  </div>

    <!-- RIGHT PANNEL -->
  <div class="col-sm-8 col-md-9">
  <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Description and Technical Details</div>
  <div class="panel-body">
      <p>
          {{album.description}}
      </p>
  </div>

  <!-- Table -->
  <table class="table">
      <thead>
      <tr>
          <th>Sensitivity</th>
          <th>Frequency Response</th>
          <th>Impedance</th>
          <th>Cable</th>
          <th>Noise Insulation</th>
      </tr>
      </thead>
      <tbody>

          <tr>
              <td>{{album.sensitivity}}</td>
              <td>{{album.frequency}}</td>
              <td>{{album.impedance}}</td>
              <td>{{album.cable}}</td>
              <td>{{album.noise}}</td>
          </tr>

      </tbody>
  </table>
</div>
 </div>
</div>
   {% endfor %}
</ul>


<div class="jumbotron" id="universal">
  <div class="container">
    <h1><span class="glyphicon glyphicon-headphones" aria-hidden="true"></span> Universal in-ear Monitors</h1>
    <p>Universal monitors for multiple users</p>
    <hr>
  </div>
</div>

<div class="jumbotron" id="ER">
  <div class="container">
    <h1><span class="glyphicon glyphicon-headphones" aria-hidden="true"></span> ER's</h1>
    <p>Silicone Ear Plugs</p>
    <hr>
  </div>
</div>


<hr>
<footer>
  <p>&copy; 2016 Company, Inc.</p>
</footer>

{% endblock %}
