
{% load staticfiles %}

<div class="container-fluid details-container">


<div class="panel panel-default">
<div class="panel-body">
<div class=container-fluid>
    <h2>Acrylic shell colors</h2>
    <div class="row">
    <div class="col-sm-3 col-md-2">
        <img src="{% static 'music/images/shellazure.png' %}" alt="..." class="img-rounded">
    </div>
    <div class="col-sm-3 col-md-2">
        <img src="{% static 'music/images/shellblue.png' %}" alt="..." class="img-rounded">
    </div>
    <div class="col-sm-3 col-md-2">
        <img src="{% static 'music/images/shellpurple.png' %}" alt="..." class="img-rounded">
    </div>
    <div class="col-sm-3 col-md-2">
        <img src="{% static 'music/images/shellsmoke.png' %}" alt="..." class="img-rounded">
    </div>
    <div class="col-sm-3 col-md-2">
        <img src="{% static 'music/images/shellclear.png' %}" alt="..." class="img-rounded">
    </div>
    <div class="col-sm-3 col-md-2">
        <img src="{% static 'music/images/shellyellow.png' %}" alt="..." class="img-rounded">
    </div>
</div>
</div>
</div>
</div>


<div class="panel panel-default">
<div class="panel-body">
<div class=container-fluid>
<h2>Acrylic faceplate colors</h2>
<div class="row">
    <div class="col-xs-6 col-sm-3 col-md-2">
        <img src="{% static 'music/images/azure.png' %}" alt="..." class="img-rounded">
    </div>
    <div class="col-xs-6 col-sm-3 col-md-2">
        <img src="{% static 'music/images/blue.png' %}" alt="..." class="img-rounded">
    </div>
    <div class="col-xs-6 col-sm-3 col-md-2">
        <img src="{% static 'music/images/purple.png' %}" alt="..." class="img-rounded">
    </div>
    <div class="col-xs-6 col-sm-3 col-md-2">
        <img src="{% static 'music/images/smoke.png' %}" alt="..." class="img-rounded">
    </div>
    <div class="col-xs-6 col-sm-3 col-md-2">
        <img src="{% static 'music/images/clear.png' %}" alt="..." class="img-rounded">
    </div>
    <div class="col-xs-6 col-sm-3 col-md-2">
        <img src="{% static 'music/images/yellow.png' %}" alt="..." class="img-rounded">
    </div>
</div>


<h2>Satori wooden faceplates collection</h2>

<div class="row">
    <div class="col-sm-3 col-md-2">
        <img src="{% static 'music/images/zebrano.png' %}" alt="..." class="img-rounded">
    </div>
    <div class="col-sm-3 col-md-2">
        <img src="{% static 'music/images/birch.png' %}" alt="..." class="img-rounded">
    </div>
    <div class="col-sm-3 col-md-2">
        <img src="{% static 'music/images/iroko.png' %}" alt="..." class="img-rounded">
    </div>
    <div class="col-sm-3 col-md-2">
        <img src="{% static 'music/images/sycamore.png' %}" alt="..." class="img-rounded">
    </div>
    <div class="col-sm-3 col-md-2">
        <img src="{% static 'music/images/rosewood.png' %}" alt="..." class="img-rounded">
    </div>
    <div class="col-sm-3 col-md-2">
        <img src="{% static 'music/images/darkoak.png' %}" alt="..." class="img-rounded">
    </div>
</div>
</div>
</div>
</div>

<div class="panel panel-default">
<div class="panel-body">
<div class=container-fluid>
<h2>Satori faceplate logos options</h2>

<div class="row">
    <div class="col-sm-3 col-md-2">
        <img src="{% static 'music/images/logo1.png' %}" alt="..." class="img-rounded">
    </div>
    <div class="col-sm-3 col-md-2">
        <img src="{% static 'music/images/logo2.png' %}" alt="..." class="img-rounded">
    </div>
    <div class="col-sm-3 col-md-2">
        <img src="{% static 'music/images/logo3.png' %}" alt="..." class="img-rounded">
    </div>
    <div class="col-sm-3 col-md-2">
        <img src="{% static 'music/images/logo4.png' %}" alt="..." class="img-rounded">
    </div>
    <div class="col-sm-3 col-md-2">
        <img src="{% static 'music/images/logo5.png' %}" alt="..." class="img-rounded">
    </div>
    <div class="col-sm-3 col-md-2">
        <img src="{% static 'music/images/logo6.png' %}" alt="..." class="img-rounded">
    </div>
</div>
</div>
</div>
</div>

</div>
<hr>
<p>Satori 2016</p>
