{% extends "music/base.html" %}

{% block title %}Satori News{% endblock %}

{% block body %}



    <div class="jumbotron">
      <div class="container">
          <div class="container1">
            <br><br><br><br><br><br><br><br><br><br>
          </div>

             <hr class="my-1">
        <h1>experience the sound</h1>
        <p>custom made and universal monitors made by enthusiasts with passion. Outstanding quality for reasonable price.</p>

        <p>
            <a class="btn btn-primary btn-lg" href="#foo" role="button"><span class="badge">{{ posts.count }}</span> new posts &raquo;</a>&nbsp;
            <a class="btn btn-primary btn-lg" href="{% url 'music:index'%}" role="button"><span class="badge">2</span> new products &raquo;</a>
            <a class="btn btn-primary btn-lg" href="{% url 'music:index'%}" role="button"><span class="badge">24</span> new shells and faceplates &raquo;</a>
        </p>
      </div>
    </div>


    <div id="foo">
        <h2><a href="#"><span class="badge">{{ iloscPostow }}</span></a></h2>
    </div>




          <!-- Example row of columns -->
          <div class="row">
              <div class="col-xs-4 col-sm-4 col-md-3">
                  <div class="panel panel-default">
                    <div class="panel-body">
                        <h2>News</h2>
                      {% for post in posts %}
                      <p>
                          <a href="#{{ post.title }}">{{ post.title }}</a>
                      </p>
                      {% endfor %}
                  </div>
                  </div>
              </div>

             <div class="col-md-9 col-xs-8">
            {% for post in posts %}

            <div class="col-md-4 col-sm-6 col-xs-12" >
                <div id="{{ post.title }}"></div>
              <h2><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> {{ post.title }}</h2>
              <p1>published: {{ post.published_date}}</p1>
              <p>{{ post.text }}</p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div>
            {% endfor %}
          </div>
      </div>










{% include 'music/contact.html' %}
      <hr>
<footer>
  <p>&copy; 2016 Satori Audio</p>
</footer>
{% endblock %}
